.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #F1F5FE;
}

.circle {
  position: relative;
  width: 2534px;
  height: 2534px;
  border-radius: 50%;
  background: #F7FAFF;
  box-shadow: 0px 4px 70px 6px rgba(217, 229, 255, 0.25);
  animation-name: fadeCircle;
  animation-duration: .4s;
  animation-timing-function: ease-in-out;
  animation-delay: .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.container {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 100%;
  max-width: 415px;
  padding: 38px 30px;
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(217, 229, 255, 0.7);
  border-radius: 20px;
  opacity: 0;
  animation-name: fadeForm;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  color: #30507D;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  height: 45px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 16px;
  color: #3B5983;
  border: 2px solid #E9F2FF;
  border-radius: 5px;
}

input[type='text']:focus,
input[type='password']:focus {
  outline: none;
  border: 2px solid #C1D9FD;
}

.div {
  position: relative;
}

.notice {
  position: absolute;
  bottom: -15px;
  right: 0;
  font-size: 11px;
  color: red;
}

input[type='checkbox'] {
  position: absolute;
  left: 27px;
  z-index: 10;
  width: 2em;
  height: 1.5em;
  opacity: 0;
}

input[type='checkbox'] + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

input[type='checkbox'] + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

input[type='checkbox']:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

input[type='checkbox']:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

input[type='checkbox']:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

input[type='checkbox']:hover + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type='checkbox']:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.button {
  width: 100%;
  height: 45px;
  font-size: 14px;
  font-weight: bold;
  line-height: 45px;
  color:#fff;
  text-transform: uppercase;
  text-align: center;
  background: #247FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0D6CF2;
}

@keyframes fadeForm {
  0% {
      opacity: 0;
  }
  25% {
      opacity: .25;
  }
  50% {
      opacity: .5;
  }
  75% {
      opacity: .75;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeCircle {
  0% {
      width: 2534px;
      height: 2534px;
  }
  25% {
      width: 2000px;
      height: 2000px;
  }
  50% {
      width: 1500px;
      height: 1500px;
  }
  75% {
      width: 1000px;
      height: 1000px;
  }
  100% {
      width: 534px;
      height: 534px;
  }
}






